* {
    font-family: sans-serif;
  }

  html {
    background: url('./background.png') repeat center center fixed;
    background-color: #f1f1f1;
  }

  body {
    margin: 0;
  }

  h2 {
    font-weight: normal;
    font-size: 16px;
  }

  button {
    padding: 0.5rem;
    border-color: #e7e7e7;
    border-radius: 5px;
    border-style: solid;
    background: white;
    margin: 0 0.25rem;
    cursor: pointer;
  }
  button:hover {
    background: rgb(226, 226, 226);
  }

  input[type="text"] {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
    display: flow;
    margin-bottom: 1rem;
    box-shadow: 1px 2px 3px #ababab;
  }


    #customDialog {
      position: fixed; /* Use fixed positioning */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Center the dialog */
      z-index: 1000; /* Ensure it's above other content */
      background-color: white; /* Background color */
      border: 1px solid #ccc; /* Border to look like a box */
      border-radius: 5px; /* Optional: rounded corners */
      padding: 20px; /* Padding inside the dialog */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add some shadow for depth */
      display: none; /* Start hidden */
    }

    /* Overlay covering the entire screen */
    #dialogOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
      z-index: 999; /* Just below the dialog to cover other elements */
      display: none; /* Start hidden */
    }


    #svg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
    }
    .node {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 0.5rem;
        cursor: move;
        user-select: none;
        z-index: 1;
        text-align: center;
        white-space: nowrap; /* Prevent text wrapping when going off screen */
    }
    .node.selected {
        border: 2px solid #007bff;
    }
    .connector {
        fill: none;
        stroke: #3c94f8;
        stroke-width: 2;
    }
    #controls {
      margin: 10px;
      position: fixed;
      z-index: 2;
      top: 2rem;
    }
    #importInput {
        display: none;
    }

    .node-text {
      pointer-events: none;
      padding: 0.5rem;
      max-width: 400px;
      white-space: normal;
      text-align: left;
    }

    .node button {
      opacity: 0.3;
      transition: opacity 0.3s;
      /* border: 1px solid transparent; */
      border: none;
    }
    .node:hover button {
      opacity: 0.7;
    }

    .color-chip {
      width: 7px;
      height: 27px;
      display: inline-flex;
      border-radius: 3px;
    }

    .root-node {
      border: 2px dotted black;
    }

.color-chips-selection {
  margin-bottom: 1rem;
}

/* CSS */
@keyframes popIn {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  70% {
    transform: scale(1.25); /* Overshoot to 120% of the final size */
    opacity: 1;
  }
  100% {
    transform: scale(1); /* Settle back to the original size */
  }
}

.pop-in {
  animation: popIn 0.4s ease-out forwards;
}

    .color-chips-selection label {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid grey;
    }


    /* Title bar styles */
    .title-bar {
          -webkit-app-region: drag;
          background-color: #e7e7e7;
          color: black;
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          z-index: 2;
      }
    
    
    .title-bar-content {
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }
    
    #app-title {
      margin-right: 20px;
    }
    
    .menu {
      position: relative;
    }
    
    .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .menu li {
      position: relative;
    }
    .menu li:hover {
      z-index: 2;
    }
    
    .menu li a {
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
    }
    
    .menu li ul {
      display: none;
      position: absolute;
      background-color: #333;
      border: 1px solid #555;
      padding: 10px;
    }
    
    .menu li:hover ul {
      display: block;
    }