* {
    font-family: sans-serif;
    font-size: 14px;
  }

  html {
    background: url('./background.png') repeat center center fixed;
    background-color: #f1f1f1;
    overflow: hidden; /* turn off scrollbars for now */
  }

  body {
    margin: 0;
  }

  h2 {
    font-weight: normal;
    font-size: 16px;
  }

  button {
    padding: 0.5rem;
    border-color: #e7e7e7;
    border-radius: 5px;
    border-style: solid;
    background: white;
    margin: 0 0.25rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(218, 218, 218);
    z-index: 99;
  }
  button:hover {
    background: rgb(226, 226, 226);
  }

  input[type="text"] {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #e9e9e9;
    display: flow;
    margin-bottom: 1rem;
    box-shadow: 1px 2px 3px #ababab;
    width: 100%;
    box-sizing: border-box;
  }

  input[type="text"]:focus {
    outline: 2px solid rgb(34, 196, 236);
  }

.icon {
  width: 14px;
  height: 14px
}

    #customDialog {
      position: relative;
      transform: translate(0, 51%);
      z-index: 1000;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: none;
      margin: auto auto;
      text-align: center;
      width: 300px;
      top: 100px;
    }

    /* Overlay covering the entire screen */
    #dialogOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
      z-index: 999; /* Just below the dialog to cover other elements */
      display: none; /* Start hidden */
    }


    #svg-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;
    }
    .node {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 0;
        cursor: move;
        user-select: none;
        z-index: 1;
        text-align: center;
        white-space: nowrap; /* Prevent text wrapping when going off screen */
        display: inline-flex;
        border-radius: 2px;
    }
    .node.selected {
        border: 2px solid #007bff;
    }
    .connector {
        fill: none;
        stroke-width: 2;
        /* the color on the node will determine the color of the connector */
    }
    #controls {
      margin: 10px;
      position: fixed;
      z-index: 2;
      top: 2rem;
    }
    #importInput {
        display: none;
    }

    .node-text {
      pointer-events: none;
      padding: 0.8rem;
      text-align: left;
    }

    .node button {
      display: none;
      transition: opacity 0.3s;
      border: 1px solid #66bed2;
      border-radius: 15px;
    }
    .node:hover button {
      opacity: 1.0;
      display: inline-flex;
    }

    .color-chip {
      width: 7px;
      display: inline-flex;
    }

    .root-node {
      border: 5px solid #979797
    }

    .root-node .node-text {
      font-weight: bold;
    }

/* CSS */
@keyframes popIn {
  0% {
    transform: scale(0.4);
    opacity: 0;
  }
  70% {
    transform: scale(1.25); /* Overshoot to 120% of the final size */
    opacity: 1;
  }
  100% {
    transform: scale(1); /* Settle back to the original size */
  }
}

.pop-in {
  animation: popIn 0.4s ease-out forwards;
}

.node-actions-container {
  position: absolute;
  bottom: -20px;
  left: 4px;
  margin-top:20px;
  box-sizing: border-box;
}