    /* Title bar styles */
    .title-bar {
        -webkit-app-region: drag;
        background-color: #e7e7e7;
        color: black;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 2;
    }
  
  /* Exclude buttons from the draggable area */
  #importBtn, #exportBtn, #newBtn {
    -webkit-app-region: no-drag;
    background: none;
    padding: 0.4rem 0.5rem;
    transition: background 0.3s;
    display: inline-flex;
    align-items: flex-end;

  }
  #importBtn:hover, #exportBtn:hover, #newBtn:hover {
    background: rgb(236, 236, 236);
  }

  .title-bar-button-text {
    margin-right: 0.4rem;
  }

  
  .title-bar-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }

  .title-bar-content img.icon {
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
  }
  
  #app-title {
    margin-right: 20px;
  }
  
  .menu {
    position: relative;
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    position: relative;
  }
  .menu li:hover {
    z-index: 2;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu li ul {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #555;
    padding: 10px;
  }
  
  .menu li:hover ul {
    display: block;
  }